.card
{
  width:60em;
  border-radius:16px;
  margin: 0 auto; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 20px;
  height: auto;
}

.container .row {
    margin: 0 auto;
  }

.PostText{
    display: block;
    font-size: 0.9em;
    font-family: Comforta, sans-serif, Arial;
}

.Comment{
    margin-left: 30px;
    text-align: left;
    font-size: 0.8em;
}

.PostContainer{
    width: 50%;
    margin: 30px 15% 5px 50px;
    border-top: 1px solid grey;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px gray;
}